

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 21cm;
    height: 29.7cm;
    margin: 0.5cm auto;
}
  
#header {
    margin-bottom:  5px;
    width:100%;
    text-align:left;
    padding: 0.3cm;
}
#summary { 
    padding: 0.3cm;
}
#footer { 
    margin-top: 0px;
    text-align:center;
    padding: 0.3cm;
} 
.block-left{
    width:35%;
    height:950px;
    margin-right:  1%;   
    overflow:auto;
    float:left;
    padding: 0.3cm;
    word-wrap: break-word;  
    white-space: normal;
}
.block-right{
    width:60%;
    height:950px; 
    overflow:auto; 
    padding: 0.1cm;
    word-wrap: break-word;  
    white-space: normal;
}


.block-inner{
    width:99%;
    font-size: 13px;
    overflow:auto;
}


.job-time { 
    overflow:auto;
    float:left;
    font-weight: bold; 
}
.job { 
    overflow:auto;
}
.job-technologies {
    float: left; 
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline-block; /* or inline-flex */
    width: calc(100% - 20px);  
    word-wrap: break-word;  
    white-space: normal;
    text-align: justify; 
}  
.job-description {
    font-size: 12px; 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline-block; /* or inline-flex */ 
    width: calc(100% - 20px);  
    word-wrap: break-word;  
    white-space: normal;
    text-align: justify; 
}  
.skills div {
    float: left; 
}
.block-skills{
    width:99%;
    overflow:auto; 
    font-size: 13px;
    text-align:justify;
}
.skills {  
border-radius: 3px 3px 3px 3px;
display: inline-block;
height: 26px;
position: relative;
margin: 0 3px 3px 0;
text-decoration: none;
-webkit-transition: color 0.2s;
}
    
.skills.priority1 {
    font-size: 20px;
}
    
.skills.priority2 {
    font-size: 17px;
}
    
.skills.priority3 {
    font-size: 15px;
}
    
.skills.priority4 {
    font-size: 13px;
}
h1 { 
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
    font-size: 36px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    } 
h3 { 
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
    } 
h4 { 
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
    margin: 0.2px;
} 
p { 
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 
blockquote { 
    font-family: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17.5px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 25px; 
} 
pre { 
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}

page {
background: white;
display: block;
margin: 0.5cm auto;
margin-bottom: 0.5cm;
position: relative;
}

page[size="A4"] {  
width: 21cm;
height: 29.7cm; 
}

@page {
size: 21cm 29.7cm;
margin: 0mm;
} 

@media screen {
    /* Styles for screen viewing */
    page:not(:first-of-type)     {
        border-top: 1px solid #000; /* This adds a line to the left of the right block */
        padding-top: 20px; /* This adds some space between the line and the text */
    } 
}

@media print {
    /* Styles for printing */
    .divider, .block-right {
        border: none; 
    }
}
header,footer,aside, nav, form,iframe {
    display: none;
}